body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #090811;
	color: #e8e6f4;
	font-family: "Andika", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
}

h1 {
	margin-top: 32px;
	margin-bottom: 16px;
	font-size: 48px;
}

form {
	margin: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input,
select,
button {
	padding: 12px 22px;
	border: none;
	border-radius: 8px;
	color: inherit;
	font: inherit;
}

input,
select {
	margin-bottom: 16px;
	outline: none;
	background: #110f1b;
}

input {
	width: 520px;
}

option {
	background: #000000;
}

button {
	width: fit-content;
	background: #b5598f;
	cursor: pointer;
	transition: 500ms;
}

button:disabled {
	background: #110f1b;
}

a {
	color: #b5598f;
}

.hidden {
	display: none;
}

.image-container {
	height: 240px;
	margin: 8px;
	position: relative;
	border: 2px #000000 solid;
	border-radius: 8px;
}

img {
	height: 100%;
}

.image-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: right;
	opacity: 0;
	transition: 0.5s ease;
	mix-blend-mode: difference;
}

.image-container:hover .image-overlay {
	opacity: 1;
}

.image-overlay button {
	height: fit-content;
	padding: 0;
	margin: 8px;
	display: flex;
	background: none;
}

.error {
	color: #ff3954;
}
