body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	background: #090811;
	color: #e8e6f4;
	font-family: "Andika", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
}

form {
	margin: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input,
button {
	padding: 12px 22px;
	border: none;
	border-radius: 8px;
	color: inherit;
	font: inherit;
}

input {
	width: 520px;
	margin-bottom: 16px;
	outline: none;
	background: #110f1b;
}

button {
	width: fit-content;
	background: #b5598f;
	cursor: pointer;
}

a {
	color: #b5598f;
}

.hidden {
	display: none;
}
